<div class="container" style="margin: 50px auto">
    <div class="row">
        <p class="text-end">Hola {{usuario}} ! 
            <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesión 
                <i class="fas fa-sign-out-alt"></i></a>
        </p>
    </div>
    <div class="row">
        <div class="col-7">
            <h3>Listado de Propiedades</h3>
        </div>
        <div class="col-5 text-end">
            <a class="btn btn-success" href="/admin/tasaciones/agregar">
                <i class="fa fa-plus" aria-hidden="true"></i> Nuevo
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Título</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Dirección</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Imagen</th>
                        <th class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each propiedades}}
                        <tr>
                            <th scope="row">{{id}}</th>
                            <td>{{titulo}}</td>
                            <td>{{precio}}</td>
                            <td>{{direccion}}</td>
                            <td>{{descripcion}}</td>
                            <td>{{{imagen}}}</td>
                            <td class="text-center">
                                <a class="btn btn-sm btn-secondary" href="/admin/tasaciones/modificar/{{id}}" title="Editar">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                                <a class="btn btn-sm btn-danger" href="/admin/tasaciones/eliminar/{{id}}" title="Eliminar" onclick="return confirm('¿Eliminar esta propiedad?');">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>